#container{
    display: flex;
    align-items: center;
    width: 300px;
    height: 90px;
white-space: nowrap;
}
.logo{
    max-width: 200px;
    height: 100px;

}
.mob{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
}
.tv{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 15px;
}
.home{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 15px;
}
.laptop{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 15px;
}
.display{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 15px;
}
.access{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 15px;
}
.smart{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 15px;
}
.offer{
font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.sup{
    font-family: arial;
    font-weight:bold ; 
    display: inline;
    text-align: center;
    margin-left: 23px;
}
.neo{
    text-align: center;
    font-family: Arial;
    position: absolute;
    padding-left: 900px;
    padding-top: 90px;
    color: white;

}
.price{
    text-align: center;
    font-family: Arial;
    position: absolute;
    padding-top: 125px;
    color: white;
    padding-left: 900px;
}
.week{
    text-align: center;
    font-family: Arial;
    margin-top: 100px;

}
.digi{
    font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.il{
    font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.t{
    font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.app{
    font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.galaxy{
    font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.sung{
    font-family: arial;
font-weight:bold ; 
display: inline;
text-align: center;
margin-left: 15px;
}
.small{
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin-top: 15px;
    display: block;
  
}
.air{
    font-family:Arial ;
    position: absolute;
            bottom: 20px;
            left: 10px;
            top: 1050px;
          font-weight: bold;
}
.start{
    font-family:Arial ;
    position: absolute;
            bottom: 20px;
            left: 10px;
            top: 1070px;
          font-weight: bold;

}
.ref{
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin-top: 15px;
    display: block;
}
.curd{
    font-family:Arial ;
    position: absolute;
            bottom: 20px;
            left: 10px;
            top: 1340px;
          font-weight: bold;
}
.dollar{
    font-family:Arial ;
    position: absolute;
            bottom: 20px;
            left: 10px;
            top: 1360px;
          font-weight: bold;


}
.fold{
    font-family: arial;
    font-weight:bold ; 
    display: block;
    text-align: center;
    margin-left: 400px;
    width: 900px;
  

}
.out{
    font-family: arial; 
    display:block;
    text-align: center;
    margin-left: 400px;

}
.else{
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}
.search{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-color: solid black;
}
.pri{
    font-family: Arial;
    display: inline;
    margin-top: 190px;
    color: grey;
}
.legal{
    display: inline;
    font-family: Arial;
    color: grey;
    margin-left: 40px;
}
.face{
    margin-left: 800px;
    width: 40px;
    height: 20px;

}
.insta{
    margin-left: 20px;
    width: 40px;
    height: 20px;
}
.twi{
    margin-left: 20px;
    width: 40px;
    height: 20px;
}
.yt{
    margin-left: 20px;
    width: 40px;
    height: 20px;
}


